@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
body {
    font-family: 'Oswald', -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.background {
    background-image: linear-gradient(to right,rgba(60,60, 60, 1),rgba(0,0,0,1), rgba(60,60,60,1));
    
}
nav {
    background: black;
}

ul {
    float:left;
    width: 100%;    
}

a {
    color: rgb(177, 0, 0);
    font-size: 150%; 
}

a:hover {
    color: white;
}

.headimg {
    background-image: url(../images/headimg.jpg);
    background-color:  black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;    
    min-height: 30em;      
}

.box {
    display: grid;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0.7), rgba(0,0,0,0.5));
    min-height: inherit;
}

#hiddenImg {
    max-width: 100%;
    margin: auto;
}

.headimgText {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

.center   {
    text-align: center;
}

h1 {
    color: rgb(148, 0, 0);
}

h2 {
    color: rgb(148, 0, 0);
}

.featurette-divider {
    border: 1px solid rgb(148, 0, 0);
}

.card-body {
    background: rgb(24, 24, 24);
    color: white;
}

.card-title {
    text-align: center;
}

em {
    color: rgb(148, 0, 0);
    font-style: normal;
    font-size: 130%;
}

p  {
    font-size: calc(15px + 0.3vw);
    text-align: justify;
}

.padding-top    {
    padding-top:1rem;
}

.valign {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.no-margin  {
    margin: unset;
}

.amb_row {
    position: relative;
    width: 50%;
}

.amb_image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
/*
.amb_row:hover .amb_image {
    opacity: 0.3;
}

.amb_row:hover .middle {
    opacity: 1;
}
*/

.nav-tabs > li > a:active,
.nav-tabs > li > a.active .amb_image {
    opacity: 0.3;
}

.nav-tabs > li > a:active,
.nav-tabs > li > a.active .middle {
    opacity: 1;
}

.text {
    /* background-color: rgb(24, 24, 24); */
    color: rgb(24, 24, 24);
    font-size: 120%;
    padding: 16px 32px;
}

.blockquote {
    text-align: right;
}


img.gblogo  {  
    height:  10%;
    width:  10%;
}


@media (max-width: 850px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
   
    img.gblogo  {  
        height:  35%;
        width:  35%;
    }

}

