@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
body {
    font-family: 'Oswald', -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.background {
    background-image: linear-gradient(to right,rgba(60,60, 60, 1),rgba(0,0,0,1), rgba(60,60,60,1));
    
}
nav{
    background: white;
}

ul {
    float:left;
    width: 100%;    
}

a {
    color: rgb(177, 0, 0);
    font-size: 150%; 
}

a:hover {
    color: black;
}

.headimg {
    background-image: url(../images/headimg.jpg);
    background-color:  white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;    
    min-height: 30em;   

}

.box {
    display: grid;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255,255,255,1),rgba(255,255,255,0.7), rgba(255,255,255,0));
    min-height: inherit;
}

#hiddenImg {
    max-width: 100%;
    margin: auto;
}

.headimgText {
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

.center   {
    text-align: center;
}

h2, h1 {
    color: rgb(148, 0, 0);
}

footer {
    background: rgb(255, 255, 255);
    /*height: 100%;*/
}

footer>p {
    color: rgb(141, 141, 141);
}

div.content-2   {
    background: rgba(30,30,30,1);    
}

div.content-3   {
    background: rgba(150,150,150,1);    
}


.padding-top    {
    padding-top:1rem;
}

.padding-bottom {
    padding-bottom: 1rem;
}

img.gblogo  {  
    height:  10%;
    width:  10%;
}

p.white {
    color:white;
}

.center   {
    text-align: center;
}

div.content-pane    {
    min-height: 20em;
    display: flex;
    justify-content: center;
    flex-direction: column;    
}
