@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

body {
    font-family: 'Oswald', -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.ambassador {    
    color: rgb(177, 0, 0);
}

#ambassadors-modal  {
    border: 2px solid rgba(255,2,2,.8);
    border-radius: .5rem;    
}

.content {
    background: rgb(24, 24, 24);
}

nav {
    background: black;
}

#navhead {
    float:left;
    width: 100%;    
}

a {
    color: rgb(177, 0, 0);
    font-size: 150%; 
}

a:hover {
    color: white;
}

#featurette1  {
    width: 100%;
    background: rgb(148, 0, 0);
    margin: auto;
   
}

h2 {
    color: white;
    margin: auto;
}

.featurette-divider{
    border: 2px solid rgb(148, 0, 0);
}

#description {
    color: white;
}

.container {
    border: 2px solid rgb(148, 0, 0);
}

.divider {
    border: 0.5px solid rgb(148, 0, 0);
}

#formrow1 {
    padding-top: 5%;
}

.padding-top    {
    padding-top:1rem;
}

.padding-bottom    {
    padding-bottom:1rem;
}


form{
    background-color: white;
    padding: unset;
    margin-bottom: unset;
}

body    {
    background-image: linear-gradient(to right,rgba(0,0, 0, 1), rgba(70,70, 70, 1),
    rgba(255,255,255,1),rgba(70,70, 70, 1), rgba(0,0,0,1));    
}

.no-padding {
    padding: unset;
}

.margin-top  {
    margin-top: 1rem;
}

.padding-sides   {
    padding-right:  1rem;
    padding-left:  1rem;
}

img.gblogo  {  
    height:  15%;
    width:  15%;
}

.center   {
    text-align: center;
}

#holder {
    border: none;
}

#submitbutton, #chSubmitbutton {
    display: flex;
    justify-content: center;
}

#alert, #chAlert {
    display: none;
}

.valign {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.no-margin  {
    margin: unset;
}

span.warning    {
    color: red;
}

.tournament-table  {
    table-layout: fixed;
    width: 100%;
}

.margin-left    {
    margin-left: 1rem;
}

input[type=radio]   {
    margin-right: 0.3em;
}

tbody tr td > *   {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

#nav    {
    justify-content: unset;
}

@media (max-width: 850px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
   
    select  	{
        font-size: 0.8em;
    }

    th  {
        font-size: 0.9em;
    }

    th h3   {
        font-size: 1.4em;
    }

    img.gblogo  {  
        height:  35%;
        width:  35%;
    }
  }