@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
body {
    font-family: 'Oswald', -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.content {
    background: rgb(24, 24, 24);
}

nav {
    background: black;
}

ul {
    float:left;
    width: 100%;    
}

a {
    color: rgb(177, 0, 0);
    font-size: 150%; 
}

a:hover {
    color: white;
 
}

#featurette1  {
    width: 100%;
    background: rgb(148, 0, 0);
    margin: auto;
    /*transition: width 2s;
    transition-timing-function: cubic-bezier(0.2, 0.7, 1.0, 0.4);*/
}

h2 {
    color: white;
    margin: auto;
}

.featurette-divider{
    border: 2px solid rgb(148, 0, 0);
}

#description {
    color: white;
}

.container {
    border: 2px solid rgb(148, 0, 0);
}

.divider {
    border: 0.5px solid rgb(148, 0, 0);
}

#formrow1 {
    padding-top: 5%;
}

.padding-top    {
    padding-top:1rem;
}

.padding-bottom    {
    padding-bottom:1rem;
}

form{
    background-color: white;
    padding-top: unset;
    padding-bottom: unset;
    padding-right:  1rem;
    padding-left:  1rem;
}

body    {
    background-image: linear-gradient(to right,rgba(0,0, 0, 1), rgba(70,70, 70, 1),
    rgba(255,255,255,1),rgba(70,70, 70, 1), rgba(0,0,0,1));    
}

.no-padding {
    padding: unset;
}

.margin-top  {
    margin-top: 1rem;
}

.margin-bottom  {
    margin-bottom: 1rem;
}

.padding-sides   {
    padding-right:  1rem;
    padding-left:  1rem;
}

img.gblogo  {  
    height:  10%;
    width:  10%;
}

.center   {
    text-align: center;
}

#holder {
    border: none;
}

#submitbutton {
    display: flex;
    justify-content: center;
}

#alert {
    display: none;
}

.valign {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.table-header   {
    background: rgb(148, 0, 0);
    color: white;
}

caption{
    caption-side: top;
}

th, tr, td{
    border: 1px solid black; 
  
}

th.gold {
    background: gold;
}

th.silver {
    background: silver;
}

th.bronze {
    background: #cd7f32;
}

table   {
    table-layout: fixed;
    width: 100%;
}

select {
    width: 100%;
}

.rdbDiv {
    display: table;
    width: 100%;
}

.inline {
    width: 30%;
}

.no-margin  {
    margin: unset;
}

tr.grey {
    background: silver;
}

tr.white    {
    background: white;
}

.table tbody tr td{
    vertical-align: middle;
}

i.red{
    color:  red;
}

button:hover, i:hover{
    cursor: pointer;
}

#nav    {
    justify-content: unset;
}

@media (max-width: 850px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
   
    select  	{
        font-size: 0.8em;
    }

    th  {
        font-size: 0.7em;
    }

    table   {
        width: 100%;
    }

    form    {
        padding-right: 0;
        padding-left: 0;
    }

    img.gblogo  {  
        height:  35%;
        width:  35%;
    }

    th.small    {
        width: 10%;
    }
}