.hero-image {
    /*background-image: url("../images/gbhero.jpeg"); /* The image used */
    background-color: #000000; /* Used if the image is unavailable */
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */      
    background-size: cover;
    min-height: 60vh;
    height: fit-content;
  }

section.hero {
    width: 100%;
    height: 30%;
}

.menu{
    padding-left: 18%;   
    background: #000000;
    background-size: 100%;    
}

.inline {
    display: inline-block; 
    margin-right: 8%;  
}

.menu-links {
    vertical-align: middle;    
    font-family: Oswald,-apple-system,BlinkMacSystemFont,
    "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.5rem;   
    color: #cc0000;           
}

.block  {
    display: block;
}

.gbpacific {
    text-align: center;
    vertical-align: middle;    
    font-family: Oswald,-apple-system,BlinkMacSystemFont,
    "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 2rem;   
    color: #ffffff;               
}

.ambassadorheading  {   
    text-align: center;
    vertical-align: middle;    
    font-family: Oswald,-apple-system,BlinkMacSystemFont,
    "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 3rem;   
    color: #ff0000; 
    margin-bottom: 1em;
}

.gbvideo  {
    margin-top: 1em;
    text-align: center;
}

form    {
    size: 100%;
}

.valign {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nomargin  {
    margin-top: unset;
    margin-bottom: unset;
    margin-right: unset;
    margin-left: unset;
}

