@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
body {
    font-family: 'Oswald', -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.background {
    background-image: linear-gradient(to right,rgba(60,60, 60, 1),rgba(0,0,0,1), rgba(60,60,60,1));
    
}
nav {
    background: black;
}

ul {
    float:left;
    width: 100%;    
}

a {
    color: rgb(177, 0, 0);
    font-size: 150%; 
}

a:hover {
    color: white;
}

.headimg {
    background-image: url(../images/temporaryhead.jpg);
    background-color:  black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;    
    min-height: 30em;    
}

.box {
    display: grid;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0.5), rgba(0,0,0,0));
    min-height: inherit;
}

#hiddenImg {
    max-width: 100%;
    margin: auto;
}

.headimgText {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

.center   {
    text-align: center;
}

h1 {
    color: white;
}

h2 {
    color: rgb(177, 0, 0);
}

.featurette-divider {
    border: 1px solid rgb(99, 99, 99);
}

#centerimg {
    position: relative;
    width: 80%;
    height: auto;
}

.no-margin  {
    margin: unset;
}

