@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
body {
    font-family: 'Oswald', -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.background {
    background-image: linear-gradient(to right,rgba(60,60, 60, 1),rgba(0,0,0,1), rgba(60,60,60,1));
    
}
nav {
    background: black;
}

ul {
    float:left;
    width: 100%;    
}

a {
    color: rgb(177, 0, 0);
    font-size: 150%; 
}

a:hover {
    color: white;
}

.featurette-divider{
    border: 1px solid white;
}

.ambassadorheading {
    color: rgb(177, 0, 0);
}

/* .sponsors {
    float:left; display:inline; width: 50;
}
*/
#sponsortitle {
    color: rgb(177, 0, 0);
}

h2, h3 {
    color: white;
}

h2.twotwo   {
    margin: auto;
    text-align: center; 
    color: rgb(177, 0, 0)   ;
}

p.twotwo {
    width: 80%;
    color: #ffffff;  
    margin:auto;  
    text-align: center;
    font-size: 1.2rem;
}

.flex-padding-top   {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.padding-top    {
    padding-top:1rem;
}

.padding-bottom {
    padding-bottom: 1rem;
}

.gbpacific {       
    font-family: Oswald,-apple-system,BlinkMacSystemFont,
    "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 2.2rem;   
    color: black;               
}

img.gbwearlogo  {
    height:  25%;
    width:  25%;
    padding-right: 1rem;
}

img.gbcompnet  {
    height:  20%;
    width:  20%;
    padding-right: 1rem;
}

img.gblogo  {  
    height:  10%;
    width:  10%;
}

.center   {
    text-align: center;
}

img.gbheroes {
    height: 40%;
    width: 40%;
}

div.first-section   {
    background-image: url(../images/gradienthero.png);
    background-position: 0% 50%;    
    background-repeat: no-repeat;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.bg-contain {
    background-size: contain;
}

.bg-cover {
    background-size: cover;
}

.no-margin  {
    margin: unset;
}